/* 
.______     ______        ___      .______       _______  
|   _  \   /  __  \      /   \     |   _  \     |       \ 
|  |_)  | |  |  |  |    /  ^  \    |  |_)  |    |  .--.  |
|   _  <  |  |  |  |   /  /_\  \   |      /     |  |  |  |
|  |_)  | |  `--'  |  /  _____  \  |  |\  \----.|  '--'  |
|______/   \______/  /__/     \__\ | _| `._____||_______/  */

.wrapper {
  margin: 3rem 1rem;
}

.wrapper h2 {
  text-align: center;
  text-transform: uppercase;
}
