/* 
 _______ .______      .______        ______   .______      
|   ____||   _  \     |   _  \      /  __  \  |   _  \     
|  |__   |  |_)  |    |  |_)  |    |  |  |  | |  |_)  |    
|   __|  |      /     |      /     |  |  |  | |      /     
|  |____ |  |\  \----.|  |\  \----.|  `--'  | |  |\  \----.
|_______|| _| `._____|| _| `._____| \______/  | _| `._____| */

.wrapper {
  margin: 3rem 1rem;
  text-align: center;
}
.wrapper h2 {
  text-transform: uppercase;
}
